@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
    color: white;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom, black, blue);
    background-attachment: fixed;
}

#container {
    margin: 56px auto 0px;
    padding: 0px 24px;
    width: 360px;
}

/* profile */

#profile {
    text-align: center;
    padding: 24px;
}

#profile img {
    width: 112px;
    border-radius: 100%;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

#profile p {
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    margin-top: 8px;
}

/* links */

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0px;
}

ul li a {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px 24px;

    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.5s;
}

ul li a:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border: 1.5px solid white;
}

/* social links */

#social-links {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 24px 0px;
    font-size: 24px;
}

#social-links a {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 16px;
    border-radius: 50%;
    transition: background-color 0.2s;
}

#social-links a:hover {
    padding: 16px;
    background-color: rgb(255, 255, 255, 0.2);
}

/* footer */

footer {
    padding: 24px;
    text-align: center;
    font-size: 0.8em;
}